<nav class="navbar justify-content-between fixed-top" style="background-color: black;">
  <a class="navbar-brand ml-4" href="#">
    <%= image_tag 'navlogo'%>
  </a>
  <li class="nav-item active">
    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class:"nav-link btx mr-3"%>
  </li>
</nav>
